.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 250px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgb(187, 227, 143);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.item:hover {
  background-color: rgb(214, 236, 164);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.status {
  height: 15px;
  width: 15px;
  background-color: rgb(253, 83, 78);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.isOnline {
  background-color: rgb(88, 170, 89);
}

.avatar {
  width: 48px;
  display: block;
  border-radius: 8px;
  margin-right: 10px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: rgb(54, 54, 54);
}
